.signupbox {
  border: 0px solid #ccc;
  font-size: 16px;
  background-image: url("./resource/box.png");
  background-size: 240px;
  background-repeat: no-repeat;
  padding: 20px 70px 20px 70px;
  width: 100px;
  height: 4px;
  align-items: center;
}

.img_wrapper {
  margin-left: 60px;
}

.btn_ipt {
  margin-left: 100px;
}

.signup_button {
  margin-left: 70px;
  border: 0px solid #ccc;
  width: 10px;
  height: 10px;
}
