.loginbox {
  border: 0px solid #ccc;
  font-size: 15px;
  background-image: url("./resource/box.png");
  background-size: 250px;
  background-repeat: no-repeat;
  padding: 18px 70px 18px 70px;
  width: 110px;
  height: 5px;
  align-items: center;
}

.img_wrapper {
  margin-left: 60px;
}

.login_button {
  margin-left: 20px;
  border: 0px solid #ccc;
  width: 10px;
  height: 10px;
}

.signup_button {
  margin-left: 70px;
  border: 0px solid #ccc;
  width: 10px;
  height: 10px;
}

.button {
  margin-left: 45px;
  border: 0px solid #ccc;
}

.cropping {
  max-height: 1000px;
  overflow: hidden;
}

.cropping img {
  margin-left: 2%;
  max-height: initial;
  margin-top: -10%;
  margin-bottom: 4%;
}
