.searchbox {
  border: 0px solid #ccc;
  font-size: 16px;
  background-image: url("./resource/box.png");
  background-size: 200px;
  background-repeat: no-repeat;
  padding: 15px 60px 15px 60px;
  width: 80px;
  height: 4px;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer;
}
.Aligner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Aligner-item {
  max-width: 50%;
}

.Aligner-item--top {
  align-self: flex-start;
}

.Aligner-item--bottom {
  align-self: flex-end;
}

.button_love {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}
