.searchbox {
  border: 0px solid #ccc;
  font-size: 16px;
  background-image: url("./resource/box.png");
  background-size: 200px;
  background-repeat: no-repeat;
  padding: 15px 60px 15px 60px;
  width: 80px;
  height: 4px;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer;
}
